.nav {
  display: flex;
  gap: 16px;
  &_link {
    padding-left: 12px;
    &:before {
      content: '/';
      position: absolute;
      transition: all $transition ease 0s;
      left: 6px;
      visibility: hidden;
      opacity: 0;
    }
    &:hover {
      &:before {
        left: 0;
        visibility: visible;
        opacity: 1;
        color: #afec9e;
      }
    }
  }
  &_link,
  &_link a {
    font-size: 18px;
    text-decoration: none;
    outline: none;
    transition: all $transition ease 0s;
    position: relative;
    color: #fff;
    &:hover {
      color: #afec9e;
    }
  }
}